{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brainteasers!</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="../static/logo.ico" type="image/x-icon" >
    <link rel="stylesheet" type="text/css" href="{% static '/cssfile.css' %}">
</head>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-#D2691E">
        <a class="btn" href="#" role="button">
            <img src="{% static 'logo.ico' %}" class="logo_img">
        </a>
        <a class="navbar-brand brand_name" href="{% url 'index' %}">Brainteasers!</a>
        <div class="dropdown ml-auto">
            <a class="btn dropdown-toggle" href="#" role="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{% static 'avatar.jpg' %}" alt="Avatar" class="logo_img">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'exit' %}">Выход</a>
            </div>
        </div>
        <span class="navbar-text text-white">Привет, {{name}}! </span>
    </nav>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</header>

<body>
    <main class="container"  role="main">
        <div class="row" >
            <div class="col-3">
                <div class="row marg_top_10">
                    <div class="col-9 lists_decor">
                        <h3>Категории головоломок:</h3>
                    </div>
                </div>
                <div class="list-group">
                    <a href="{% url 'category' 'Найди лишнее слово' %}" class="list-group-item list-group-item-action">Найди лишнее слово</a>
                    <a href="{% url 'category' 'Угадай слово' %}" class="list-group-item list-group-item-action">Угадай слово</a>
                    <a href="{% url 'category' 'Математика' %}" class="list-group-item list-group-item-action">Математика</a>
                    <a href="{% url 'category' 'Переведи!' %}" class="list-group-item list-group-item-action">Переведи!</a>
                </div>
                <div class="row marg_top_10">
                    <div class="col-9 lists_decor">
                        <h3>БестБрейнс:</h3>
                    </div>
                </div>
                <div class="list-group">
                    <div class="lobotomized-owl-container">
                        <ol class="list-group-numbered float_right">
                            {% for user in hot_users %}
                                <li class="list-group-item">{{ user.0 }}
                                    <span class="badge bg-orange rounded-pill">{{user.1}}</span>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
            {%block content%}
            {%endblock%}
        </div>
    </main>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>