{% extends 'thebasenoautho.html' %}
{% block content %}
{% load static %}
{% load i18n %}

<div class="col-9">
  <h2 style="margin-left: 105px; margin-top: 15px; margin-bottom: 15px;"><strong>{% trans 'Авторизация' %}</strong></h2>
  <div>
{% load static %}
    <form method="post">
    {% csrf_token %}
      <div class="rowplusfirst" style="height: 75px">
  <div class="col-3">
    <label for="InputNickname" class="form-label" style="margin-top: 10px;">{% trans 'НикНейм:' %}</label>
  </div>
  <div class="col-7" style="margin-top: 10px;">
    {{ form.username }}
     <div class="invalid-feedback">
      {% trans 'Ошибка ввода' %}
      <p style="font-size: 10px; color:black">{% trans 'Используйте:' %} A-Z, a-z, _</p>
    </div>
  </div>
</div>
<div class="rowplusunder">
  <div class="col-3" style="margin-top: 10px; margin-bottom: 10px;">
    <label for="InputPassword" class="form-label">{% trans 'Пароль:'%}</label>
  </div>
  <div class="col-7" style="margin-top: 10px;margin-bottom: 10px;">
    {{ form.password}}
    </div>
</div>
<div class="row" style="margin-left: 105px;">
  <button type="submit" class="btn btn-orange">{% trans 'Войти' %}</button>
</div>
     {% if form.errors %}
        <div class="alert alert-danger" style="margin-top: 10px;">
              <strong>{% trans 'Неверный пароль или такого пользователя не существует' %}</strong><br>
        </div>
      {% endif %}
    </form>
  </div>
</div>





{% endblock %}

