{% extends 'thebasenoautho.html' %}
{% block content %}
{% load static %}

<div class="col-9">
    <h2 class="auth_label"><strong>Авторизация</strong></h2>
    <div>
        <form method="post">
            {% csrf_token %}
            <div class="rowplusfirst height_75">
                <div class="col-3">
                    <label for="InputNickname" class="form-label marg_top_10">НикНейм:</label>
                </div>
                <div class="col-7 marg_top_10">
                    {{ form.username }}
                </div>
            </div>

            <div class="rowplusunder">
                <div class="col-3 marg_top_10 marg_bot_10">
                    <label for="InputPassword" class="form-label">Пароль:</label>
                </div>
                <div class="col-7 marg_top_10 marg_bot_10">
                    {{ form.password}}
                </div>
            </div>

            <div class="row marg_left_105">
                <button type="submit" class="btn btn-orange">Войти</button>
            </div>

            {% if form.errors %}
            <div class="alert alert-danger marg_top_10">
                <strong>Неверный пароль или такого пользователя не существует</strong><br>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}