{% extends 'thebase.html' %}
{%block content%}
{% load static %}

<div class = "col-9" >
    <form method="POST" action="{% url 'check_answer' %}">
        {% csrf_token %}
            <div class="rowplusfirst">
                <div class="col-2">
                    <img src="{%static question.ad%}" height="110px" width="110px" class="quest_img">
                </div>
                <div class="col-9">
                    <div class="row">
                        <a href="{% url 'question' question.id%}" class="quest_title"> {{question.title}}
                        </a>
                    </div>
                    <div class="row">
                        <div class="quest_content"> {{question.content}} </div>
                    </div>
              </div>
            </div>
        <input type="hidden" name="question_id" value="{{ question.id }}">
        <div class="rowplusunder marg_bot_100">
            <div class="col-3">
                <label for="InputName" class="form-label answer_label">Введите свой ответ:</label>
            </div>
            <div class="col-7 marg_top_10">
                <input type="text" class="form-control" id="InputName" name="InputName" placeholder="..." maxlength="50" required>
                <p class="help_info">Используйте: A-Z, a-z, А-Я, а-я, 1-9, 0</p>
            </div>
            <button type="submit" class="btn btn-orange btn-sm btn-custom-height">Ответить</button>
        </div>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </form>

    <div class="row marg_top_20">
        <div class="col-12">
            <h4 class="comment_labels">Написать комментарий:</h4>
            <form method="post">
                {% csrf_token %}
                {{ form.text }}
                <button type="submit" class="btn btn-orange btn-sm btn-custom-height marg_top_5">Прокомментировать</button>
            </form>
        </div>
    </div>

    <div class="row marg_top_20">
    <div class="col-12">
    <h4 class="comment_labels">Комментарии</h4>
    <ul class="list-unstyled">
        {% for comment in comments %}
            <li>
                <div class="comment">
                    <div class="row pad_left_10">
                        <div class="col-6 text_al_left">
                            <a href="#" class="comment_username">{{ comment.profile.user.username }} считает:
                            </a>
                        </div>
                        <div class="col-3">
                            {% if comment in comments_user %}
                            <button class="delete-comment" data-comment-id="{{ comment.id }}">×</button>

                            <button class="update-comment" data-comment-id="{{ comment.id }}"><span class="text-primary">&lt;</span></button>
                            {% endif %}
                        </div>
                        <div class="col-3 text_al_right">
                            <p>{{ comment.date }}</p>
                        </div>
                    </div>
                    <div class="col-12 comment_change_form">
                        <div class="comment_text" id="comment-text-{{ comment.id }}">{{ comment.text }}</div>
                        <textarea id="edit-text-{{ comment.id }}" class="disp_none"></textarea>
                        <button id="change-comment-{{ comment.id }}" class="disp_none">Изменить</button>
                    </div>
                </div>
            </li>
        {% empty %}
        <li>Нет комментариев</li>
        {% endfor %}
    </ul>
    </div>
    </div>
</div>
{% endblock %}