{% extends 'thebasenoautho.html' %}
{%block content%}
{% load static %}
        <div class="col-9">
          <h2 style="margin-left: 105px; margin-top: 15px; margin-bottom: 15px;"> <strong>Регистрация</strong> </h2>
                    <div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="rowplusfirst" style="height: 65px">
                              <div class="col-3">
                                  <label for="InputNickname" class="form-label" style="margin-top: 10px;">Логин:</label>
                                </div>
                                <div class="col-7" style="margin-top: 10px;">
                                 {{ form.username }}
                                    <p style="font-size: 10px; color:black">Используйте: A-Z, a-z, _</p>
                                  </div>
                            </div>

                            <div class="rowplusunder">
                              <div class="col-3">
                                <label for="InputName" class="form-label" style="margin-top: 10px;">Почта:</label>
                              </div>
                              <div class="col-7" style="margin-top: 10px;">
                                {{ form.email }}
                                    <p style="font-size: 10px;">Используйте: A-Z, a-z, @</p>
                                </div>
                                <div class="col-3" style="margin-top: 10px; margin-bottom: 10px;">
                                  <label for="InputAvatar">НикНейм:</label>
                                </div>
                                <div class="col-7" style="margin-top: 10px;margin-bottom: 10px;">
                                  {{ form.nickname }}
                                  </div>
                            </div>

                            <div class="rowplus">
                              <div class="col-3" style="margin-top: 10px;">
                                <label for="InputPassword" class="form-label">Пароль:</label>
                              </div>
                              <div class="col-7" style="margin-top: 10px;">
                               {{ form.password }}
                                <p style="font-size: 10px;">Используйте: A-Z, a-z; 0-9. Минимум 6 символов.</p>
                                </div>
                            </div>

                            <div class="rowplusunder">
                                <div class="col-3" style="margin-top: 10px; margin-bottom: 10px;">
                                <label for="InputPasswordRepeat" class="form-label">Повторите пароль:</label>
                              </div>
                              <div class="col-7" style="margin-top: 10px;margin-bottom: 10px;">
                                {{ form.password_check }}
                                </div>

                            </div>

                            <div class="row" style="margin-left: 105px;">
                              <button type="submit" class="btn btn-orange">Создать аккаунт</button>
                            </div>

                          {% if form.errors %}
                          <div class="alert alert-danger">
                            <ul>
                              {% for field in form %}
                              {% if field.errors %}
                              {% for error in field.errors %}
                              <li>{{ error }}</li>
                              {% endfor %}
                              {% endif %}
                              {% endfor %}
                            </ul>
                          </div>
                          {% endif %}

                        </form>
                    </div>
        </div>
{% endblock %}